.Toolbar {
    position: absolute;
    top: 146px;
    width: 100%;
    margin: 0 auto;
    background: rgba(0,0,0,0.1);
}

@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}