.HeaderArea {
    display: block;
    height: 200px;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: relative;
    z-index: 80;
}

.HeaderBackground {
    height: 200px;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: #4FB99F;
}

.HeaderImage img {
    height: 200px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}