/* li {
    list-style: none;
}

.StoreItem {
    background: #4FB99F;
    width: 33.3333%;
    height: 350px;
    margin: 10px;
    float: left;
}

.StoreItem h3 {
    text-align: center;
    margin: 0;
}

.StoreItem p {
    margin: 0;
    color: #F2B124;
}

.StoreItem img {
    /* width: 260px;
    height: 260px;
    width: 100%;
    height: 80%;
    margin: 12px 10px 0 10px;
}

.StoreItemDetail {
    display: none;
}

.StoreItem:hover + .StoreItemDetail {
    display: block;
}
 */

.gridItem {
    box-sizing: border-box;
    display: inline-block;
    width: 33.3333%;
    /* max-width: 250px; */
    flex-basis: 33.3333%;
    position: relative;
    max-height: 524px;
    overflow-y: hidden;
    padding: 0;
    margin: 18px 8px;
}

.gridItem:hover .itemOverlay{
    display: inline;
    cursor: pointer;
}

.gridLink {
    display: block;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    box-sizing: inherit;
}

.gridItem img {
    /* background-size: cover; */
    width: 100%;
}

.Label {
    position: relative;
    padding: 6px;
    z-index: 20;
    font-size: 12px;
    font-family: 'Noto Serif SC', serif;
    box-sizing: inherit;
}

.labelData {
    box-sizing: inherit;
    text-overflow: ellipsis;
    overflow: hidden;
}

.labelLink {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    box-sizing: inherit;
    color: black;
}

.labelHeader {
    font-weight: 700;
    max-width: 75%;
    text-align: left;
}

.labelDescription {
    max-width: 75%;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.labelPrice {
    min-width: 25%;
    text-align: right;
    float: right;
}

.itemOverlay {
    box-sizing: inherit;
    height: 540px;
    width: 89%;
    display: none;
    margin: 0 12px 18px 12px;
    position: absolute;
    left: 0;
    top: 0;
}