p {
    margin: 0;
    padding: 0;
}
.Item {
    background: rgba(0,0,0,0.8);
    color: #eeee99;
    text-align: center;
    height: 0%;
    transition: 0.5s linear all;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 110;
}

.itemTitle {
    padding: 12px 0;
    font-size: 18px;
    font-weight: bold;
}

.itemDescription {
    padding: 12px 0;
    text-align: justify;
    margin: 0 auto;
    width: 90%;
    font-size: 10px;
}
