/* Small screen style */

.NLink {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.NLink a {
    color: #8F5C2C;
    text-decoration: none;
    display: block;
}

.NLink a:hover,
.NLink a:active,
.NLink a.active {
    color: #40A4C8;
}


/* Desktop style */
@media (min-width: 500px) {
    .NLink {
        margin: 0;
        height: 100%;
        width: 60%;
        font-family: 'Noto Serif SC', serif;
    }
    
    .NLink a {
        display: block;
        color: #ED553B;
        height: 100%;
        padding: 6px 10px;
        border-bottom: 4px solid transparent;
        transition: 0.5s;
    }
    
    .NLink a:hover,
    .NLink a:active,
    .NLink a.active {
        color: #112F41;
    }    
}