.NLink {
    display: inline;
    margin: 0 12px;
}

.NLink a {
    transition: 0.3s linear all;
    text-decoration: none;
    color: #ED553B;
    outline: none;
}

.NLink a:hover,
.NLink a:active,
.NLink a.active {
    color: #112F41;
}

.NLink a.active:hover {
    color: #112199;
}