/* .Cart {
    box-sizing: border-box;
    display: block;
    padding: 6px 10px;
}

.Cart img {
    height: 16px;
} */

/* Small screen style */

.Cart {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.Cart img {
    height: 16px;
}

.Cart a {
    color: #8F5C2C;
    text-decoration: none;
    width: 100%;
    /* Height is both padding and the border */
    box-sizing: border-box;
    display: block;
}

.Cart a:hover,
.Cart a:active,
.Cart a.active {
    color: #40A4C8;
}
/* // c8c5c0 beige
// 2a3030 svart */

/* Desktop style */
@media (min-width: 500px) {
    .Cart {
        margin: 0;
        display: flex;
        height: 100%;
        /* sets auto not to se 100% */
        width: auto;
        align-items: center;
    }
    
    .Cart a {
        color: #2A3030;
        height: 100%;
        padding: 6px 10px;
        border-bottom: 4px solid transparent;
        /* Height is both padding and the border */
    }
    
    .Cart a:hover,
    .Cart a:active,
    .Cart a.active {
        background-color: #2A3030;
        border-bottom: 4px solid #40A4C8;
        color: #C8C5C0;
    }    
}